<div class="container">
    <div id="board" style="margin-top:50px;;" class="mainbox col-md-12 col-sm-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">BLACKJACK - GAME BOARD</div>
            </div>
            <h4>Game ID: {{id}}</h4>
            <!-- TABULEIRO DE JOGO -->
            <div id="currentPlayer" style="text-align:left; background-color:darkslategrey; color:aqua">
                    <h3 style="display: inline; color:aqua; padding-left: 10px">Player: </h3><img style="height: 80px; width: 80px;" src="./img/{{creatorAvatar}}" class="img-circle">                    {{creatorName}}
            </div>
            <div style="padding-top:15px;  background-color: lightblue" class="panel-body">
                <!--<div class="container">-->
                
                <div class="playerGameMessages col-md-12" style="text-align: center; color:darkslategrey">
                    <h2>MESSAGES: YOU WON - Wait for the next round</h2>
                </div>
                <!-- current players cards -->
                <div class="col-md-3"></div>
                <div class="col-md-6" style="text-align:center; display:inline-block">
                    <div style="text-align: center">
                        <img src="./img/c5.png" style="width: 25%; height:25%; padding-left: 5px; float:right" class="img-responsive">
                        <img src="./img/e7.png" style="width: 25%; height:25%; padding-left: 5px; float: right" class="img-responsive">
                        <img src="./img/o13.png" style="width: 25%; height:25%; padding-left: 5px; float:right" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-3"></div>
                <div class="playerGameMessages col-md-12" style="text-align: center; color:darkslategrey">
                    <h2>YOUR SCORE: 21</h2>
                </div>
            </div>
            <div class="playerOtions" style="text-align: center; height: 60px">
                <a style="width:150px; height: 35px; margin-top:10px;" id="btn-home" class="btn btn-warning" routerLink="/gamelobby">HIT</a>
                <a style="width:150px; height: 35px; margin-top:10px" id="btn-home" class="btn btn-info" routerLink="/gamelobby">STICK</a>
            </div>

            <div class="tableCards col-md-12" style="text-align: left; background-color:darkslategrey; color:aqua; height: 50px; padding-bottom: 10px">
                <h3 style="color:aqua">Table Cards</h3>
            </div>

            <div style="padding-top:15px; padding-bottom: 30px" class="panel-footer">
                <hr>
                <div>
                    <gameChat [idGame]="id"></gameChat>
                </div>
                <button class="test" (click)="clickElemento()" md-raised-button color="accent">Console log para mostrar q esta board desenhada e mesma a minha</button>
            </div>
        </div>
    </div>
</div>