<form #messageForm="ngForm">
    <input name="message" placeholder="Type a message" size="50" required
            [(ngModel)]="message"
        >
    <button class="btn btn-primary"
        [disabled]="!messageForm.form.valid"
        (click)="send()">Send</button>
</form>

<h2 style="color: white!important;">Player Notifications</h2>
<p style="color: white!important;" *ngFor="let m of playersCChannel">{{m}}</p>

<h2 style="color: white!important;">Chat history</h2>
<p style="color: white!important;" *ngFor="let m of chatCChannel">{{m}}</p>
